version: "3.9"

services:
  app:
    build: .
    container_name: telemetry_gateway
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - API_KEY=apikey
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/telemetry_gateway
      - MQTT_URL=mqtt://mosquitto:1883
    depends_on:
      - db
      - mosquitto

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telemetry_gateway
    ports:
      - "5432:5432"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

  mosquitto:
    image: eclipse-mosquitto
    container_name: mqtt_broker
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

volumes:
  pgdata: